
.bodyy
{
margin: 0;
padding: 0;
border: 0;

}

.about-body
{
  background-color:#FFFDDE;
  margin: 0;
}
.project-body {
  background-color:#FFFDDE;
  margin: 0;
}

.project-body-experience {
  background-color:#FFFDDE;
  margin: 0;
}


h1{
  font-family: "Cabin";  
  margin:0;
  border: 0;
  padding:0;
  font-weight: 100;
  
  
}
h2{
  font-family: "Open Sans,sans-serif";
  font-kerning: normal;
  font-feature-settings: "kern","liga","clig","calt";
  margin:0;
  border: 0;
  padding:0;
  padding-bottom: 5px;
  font-weight:100;
}

.home-div{
  height:100vh;
  width:100%; 
  background-image: url("images/light-1.jpg");
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 100% auto ;
}

#about-div{
  height:100vh;
  width:100%;
  background-image: url("images/light-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto ;
  
}


.topcontainer{        
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 150px;
    margin: 0;
    margin-top: 0%;
    border: 0;
    display: block;
    overflow: hidden; 
    
}

.topcontainer-about {
  display: flex;
  justify-content: space-around;
  padding-bottom: 45px;
}

.topcontainer-home{
  padding-top:150px;  
}

.about-content{
  padding:0px 0% 0% 0%;
  height:90vh;
  width: 50%;
  margin-top:5vh;
  margin-bottom:5vh;
  
  background-color: #D9CAB3;
  border-radius: 30px;
  
  
}

.education{
  padding-top:100px;
}
.header{       
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0;
    margin: 0;
    margin-top: 0;
    border: 0;
}
.wave-image{
    font-size:0.8em;
}
.full-name-p{
    margin:0;
}

.full-name{
    font-family: "Cabin";
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 0;
    font-weight: 500;
    display: inline-block;
    /* visibility: hidden; */
    
}

a:link {
  color: #0c0c0c;
  /* color: white; */
  background-color: transparent;
  text-decoration: none;
  margin-left: 10px;
  }

a:hover{
 color:#472a06;
}

a:visited {
  color:inherit;
}

  
.navbar{
    display: inline-block;
    position: relative;
    left:39.2%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0 ;
    margin-bottom: 0;
    font-family: "Cabin";
    font-size: 1.2em;
    margin-top: 0;
    border: 0;
    font-weight: 500;
    display: inline-block;
    color: #070707;
}

.name{
    font-family: "Cabin";
    font-feature-settings: "kern";
    font-stretch: 100%;
    font-size: 8vh;
    font-weight: 100;
    padding:10% 0 0 0;
    margin-bottom: 0;
    color: #F7F7F7;
}
.college{
    font-family:"Cabin";
    font-feature-settings: "kern";
    font-stretch: 100%;
    font-size: 2.5vh;
    font-weight: 500;
    margin-bottom: 0;
    color: #F7F7F7;
    

}
.poweredby{
    font-family:"Cabin";
    font-stretch: 100%;
    font-size: 1.2em;
    font-weight: 10;
    display:inline-block;
    position: relative;
    bottom:3px;
    color: #F7F7F7;


}


.tooltip {
    position: relative;
    display: inline-block;
    border:0;
    padding:0;
    margin:0;
  }
  
  .tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 0.8s;
    width: 120px;
    background-color:#F8F0DF ;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding:5px;
    font-family: "Cabin";
  
    /* Position the tooltip */
    position: absolute;
    margin-top:10px;
    margin-left:10px;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #F8F0DF transparent transparent;
  }

.tea{
    width:1.8em;
    display: inline-block;
    position: relative;
    padding:0;
}

#contact{
  background-color:#f4dfbae1;
  margin:0 0 0px 0;
  width: 100%;
  padding:3% 0 2% 0;
  font-size:2em;
  color:black;
  display:block;
  position:relative;
  bottom:0;
}
.copyright{
  color:#4C4C4C;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Bitter';
  font-size: 0.6em;
}
.dp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    border-radius: 100%;
    padding-top:33px;
  
}
.about{
  font-family: "Open Sans,sans-serif";
  font-kerning: normal;
  font-feature-settings: "kern","liga","clig","calt";
  font-size: 2.5vh;
  margin:0;
  border: 0;
  padding-top:40px;
  padding-bottom: 5px;
  font-weight:100;
  font-stretch:ultra-expanded;
  
}

.interest-div{
  padding:5px 15% 0 15%;
  text-align: center;

}

.interest{
  padding:10px;
  background: #FFC069;
  width: 25%;
  display: inline-block;
  margin:30px;
  border-radius: 15px 50px 30px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  height: fit-content;
  font-family: "Open Sans,sans-serif";
  font-kerning: normal;
  font-feature-settings: "kern","liga","clig","calt";
  font-weight:200;
  font-size: 1.2em;
}

.big
{
  font-size: 1.3em;
}
.intro
{
  padding-left: 5%;
  padding-right: 5%;
}

.project-headless-body
{
  padding:3% 15% 0 15%;
}
.project-container {
  /* Vary this based on requirement */
  width: 52vh;
  height: 26vh;
   /* Vary this based on requirement */
  /* padding: 30px; */
  border: 0px;
  /* margin: 20px; */
  background-image: url("images/robot.jpg");
  background-size: 100% 100% ;
  transition: transform 3000ms;
  cursor: pointer;
  /* display: none; */
}


.project-without-hover {
  display: None; 
  background-color: #FFD07F;
  opacity: 0.7;
  padding: 0;
  margin:0;
  width: 52vh;
  height: 26vh;
  transition: transform 1s ease, top 1s ease;
}

.project-heading {
  text-align: center;
  font-size: 6vh;
  font-family: "Cabin";
  font-kerning: normal;
  font-feature-settings: "kern","liga","clig","calt";
  font-weight:200;
}

.project-display-flex {
  display: flex;
  align-items: center;
  margin: 20px 16vh 20px 16vh;
  justify-content: space-between;
}


.project-desc
{
 font-size: 20em;
  margin:auto 20px 10px 20px;

}







@import url('https://fonts.googleapis.com/css?family=Niramit:300,300i,700');
 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
 body {
	 
	 background: #1e1e2f;
	 
}
 .container {
	 max-width: 650px;
	 margin: 50px auto;
}



 .timeline {
	 position: relative;
	 padding-left: 4rem;
	 margin: 0 0 0 30px;
	 color: white;
}
 .timeline:before {
	 content: '';
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 4px;
	 height: 100%;
	 background: #27293d;
}
 .timeline .timeline-container {
	 position: relative;
	 margin-bottom: 2.5rem;
}
 .timeline .timeline-container .timeline-icon {
	 position: absolute;
	 left: -92px;
	 top: 4px;
	 width: 60px;
	 height: 50px;
	 border-radius: 50%;
	 text-align: center;
	 font-size: 1.5rem;
	 background: #4f537b;
}
 .timeline .timeline-container .timeline-icon i {
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 transform: translate(-50%, -50%);
}
 .timeline .timeline-container .timeline-icon img {
	 width: 100%;
	 height: 100%;
	 border-radius: 50%;
}
 .timeline .timeline-container .timeline-body {
	 background: #27293d;
	 border-radius: 3px;
	 padding: 20px 20px 15px;
	 box-shadow: 1px 3px 9px rgba(0, 0, 0, .1);
}
 .timeline .timeline-container .timeline-body:before {
	 content: '';
	 background: inherit;
	 width: 20px;
	 height: 20px;
	 display: block;
	 position: absolute;
	 left: -10px;
	 transform: rotate(45deg);
	 border-radius: 0 0 0 2px;
}

.timeline-body{
  width:100%;
  font-family: 'Lato', sans-serif;
  font-kerning: normal;
  font-feature-settings: "kern","liga","clig","calt";
  font-stretch: ultra-expanded;
  padding-left: 10;
  
  font-weight:100;

}
 .timeline .timeline-container .timeline-body .timeline-title {
	 margin-bottom: 0ss;
}
 .timeline .timeline-container .timeline-body .timeline-title .badge {
	 background: #4f537b;
	 padding: 4px 8px;
	 border-radius: 3px;
	 font-size: 18px;
	 
}
 .timeline .timeline-container .timeline-body .timeline-subtitle {
	 font-weight: 300;
	 font-style: italic;
	 opacity: 0.4;
	 margin-top: 6px;
   margin-bottom: 10px;
	 font-size: 11px;
}
 .timeline .timeline-container.primary .badge, .timeline .timeline-container.primary .timeline-icon {
	 background: #1d8cf8 !important;
}
 .timeline .timeline-container.info .badge, .timeline .timeline-container.info .timeline-icon {
	 background: #11cdef !important;
}
 .timeline .timeline-container.success .badge, .timeline .timeline-container.success .timeline-icon {
	 background: #00bf9a !important;
}
 .timeline .timeline-container.warning .badge, .timeline .timeline-container.warning .timeline-icon {
	 background: #ff8d72 !important;
}
 .timeline .timeline-container.danger .badge, .timeline .timeline-container.danger .timeline-icon {
	 background: #fd5d93 !important;
}

.exp{
  font-family: "Open Sans,sans-serif";
  font-kerning: normal;
  font-feature-settings: "kern","liga","clig","calt";
  font-size: 2.5vh;
  margin:0;
  border: 0;
  padding-top:5px;
  padding-bottom: 5px;
  font-weight:100;
  font-stretch:ultra-expanded;
} 




